body{
    /*background-color: rgb(52, 86, 139);*/
    background-color: beige;
}
#Title{
    display: block;
    margin:auto;
    font-size: 46px;
    font-family: Century Gothic;
    font-weight: bold;
    text-align: center;

    background-color: beige;
    color:rgb(204, 85, 0);
    text-shadow: 5px 5px 5px rgb(204, 85, 0);
    border: none;
    cursor:pointer;
}

.dropdown{
    background-color: beige;
    color:rgb(204, 85, 0);
}

.dropdown a{
    height:50px;
    width:166.6px;
    margin:auto;
    font-size: 24px;
    font-family: Century Gothic;
    text-align: center;
    display:none; 
}

.dropdown:hover a{
    display:block;
}

#Game1{
    font-family: Century Gothic;
    color:rgb(204, 85, 0);
    font-size: 24px;
}

#Game2{
    font-family: Century Gothic;
    color:rgb(204, 85, 0);
    font-size: 24px;
}

#textBox{
    display:block;
    font-size: 32px;
    color:rgb(0, 163, 108);
    font-family: Century Gothic;
    text-align: center;
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rotate{
    100%{transform: rotateZ(360deg)}
}
