body{
    background-color: rgb(52, 86, 139);
}
#Title{
    display: block;
    margin:auto;
    font-size: 32px;
    font-family: monospace;
    text-align: center;

    background-color: rgb(52, 86, 139);
    color:white;
    border: none;
    cursor:pointer;
    
}

.dropdown{
    background-color: rgb(52, 86, 139);
    color:white;
}

.dropdown a{
    height:50px;
    width:166.6px;
    margin:auto;
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    display:none; 
}

.dropdown:hover a{
    display:block;
}

#Game1{
    font-family: monospace;
    color:white;
    font-size: 24px;
}
